<%- include('../views/templates/header.ejs'); %>
<link rel="stylesheet" href="css/boardProducts.css">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                        <tr>
                        <th><span>Products</span></th>
                        <th><span>Created</span></th>
                        <th class="text-center"><span>Price</span></th>
                        <th><a href="#" class="table-link danger">
                            <span class="fa-stack">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                        </a></th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt>
                                    <a href="#" class="user-link">Mila Kunis</a>
                                    <span class="user-subhead">Admin</span>
                                </td>
                                <td>
                                    2013/08/08
                                </td>
                                <td class="text-center">
                                    <span class="label label-default">Inactive</span>
                                </td>
                                <td>
                                    <a href="#"><span class="__cf_email__" data-cfemail="a4c9cdc8c5e4cfd1cacdd78ac7cbc9">[email&#160;protected]</span></a>
                                </td>
                                <td style="width: 20%;">
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>

                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>

                                    <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>