<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Connexion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">

</head>

<body>


    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="text-center">Connexion</h1>
            </div>

            <div class="modal-body">
                <form class="form col-md-12 center-block" method="POST" action="/users/login">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" name="password" placeholder="Mot de passe" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block">Connexion</button>
                        <span class="pull-right"><a href="#">Inscription</a></span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>